html, body {
    height: 100%;
    width: 100%;

    font-family: 'Special Elite', cursive;
    background: #0D0D0D;
    color: #F2C48D;

    font-size: 1.3em;
}

code {
    display: block;
    white-space: pre-wrap;
}

img {
    width: 800px;
}

div.header {
    margin: 0 auto;
    padding: 40px 0 0 0;

    text-align: center;
    font-size: 1.5em;
}

div.footer {
    margin: 240px auto 20px auto;
	
    text-align: center;
    font-size: 1.5em;
}

h1 {
    margin: 40px 0;
    text-transform: uppercase;
}

li {
	margin: 16px 0;
}

div.section {
    margin: 0 auto;
    padding: 16px;
    width: 800px;
    line-height: 1.3em;
}

div.section.wide {
    width: 1200px;
}

a, a:link, a:visited , a:hover , a:active {
    color: #F2E205;
    text-transform: uppercase;
}

span.highlight {
    color: #F20505;
}

span.redacted {
    display: inline-block;

    margin: 0 8px;
    background: #F20505;
    
    width: 160px;
    height: 1em;
    vertical-align: sub;
}